!!! Strict
%html(lang="en" xmlns="http://www.w3.org/1999/xhtml")
  %head
    %meta(http-equiv="content-type" content="text/html; charset=#{config.encoding}")
    %title #{http_code} #{error_desc}
    %meta(name="description" content="personal blog, #{config.nickname}")
    %link(href="/css/reset.css" rel="stylesheet")
    %link(href="/css/#{config.theme_css}" rel="stylesheet")
    %link(rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/feed.xml")
    %link(href="/favicon.ico" rel="icon" type="image/x-icon")
  %body
    #container
      %a#err(href="/")
        %center
          %p.code #{http_code}
        %center
          %p.desc #{error_desc}
    #error_msg
      <!-- error_msg: #{error_msg} -->
      
    :if config.ga_account
      :script
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '#{config.ga_account}']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
