#main
  :each article in articles.slice(0,15)
    .intro
      .date{title: article.date}&= formatDate(article.date, "%Y-%m-%d")
      %div.title
        %a{href: "/blog/" + article.name}&= article.title
      %p
        = intro(article.markdown)
      .comment-cnt
        %a(href="http://#{config.base_url}/#{article.name}#disqus_thread" data-disqus-identifier="#{article.name}") comment
      .readmore
        %a{href: "/" + article.name} Read more...

#sidebar
  #author
    = markdownEncode(description)

%script(src="http://#{config.disqus_shortname}.disqus.com/count.js" async type="text/javascript")

