#main.clearfix
  .article
    :if article.version
      %a.sha-version{ href: "/#{article.version}/#{article.name}" } Static Version
    .date{title: article.date}&= formatDate(article.date, "%Y-%m-%d")
    %h1
      %a{href: "/" + article.name}&= article.title
    = markdownEncode(article.markdown)
    %hr{style:"clear:both"}
  #disqus_thread
  :script
    var disqus_identifier = "#{article.name}",
        disqus_shortname = '#{config.disqus_shortname}',
        disqus_title = "#{article.name}";
  %script(src="http://#{config.disqus_shortname}.disqus.com/embed.js" async type="text/javascript")

#sidebar
  #author= markdownEncode(description)
